<!DOCTYPE html>

<html>

<head>	
	<title>Website Title</title>

	<!-- stylesheet -->
		<link href="../static/css/hackstyle.css" rel="stylesheet">

</head>

	<body class="tab2">

		<header>	
			<div class="navbar">
				<nav>
					<ul>
						<li><a href="utdhack.html" class="tab1Link">survey</a></li>
						<li><a href="info.html" class="tab2Link">stats</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="intro">
			<h1>my evaluation</h1>
		</div>

		<div class="results">
			<h1 id="result">{{result}}</h1>
			{% for item in range(evaluations |length) %}
			<p id="reason">
				Some things to look out for: {{evaluations[item]}}
			</p>
			{% endfor %}
		</div>

	</body>

	<footer>
	| <a href="utdhack.html">survey</a> | <a href="info.html">stats</a> |
	</footer>

</html>