<!DOCTYPE html>

<html>

<head>	
	<title>Website Title</title>

	<!-- stylesheet -->
		<link href="hackstyle.css" rel="stylesheet">

</head>

	<body class="tab2">

		<header>	
			<div class="navbar">
				<nav>
					<ul>
						<li><a href="utdhack.html" class="tab1Link">Tab 1</a></li>
						<li><a href="info.html" class="tab2Link">Tab 2</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="intro">
			<h1>Insert Title/Intro to Financial Survey Here</h1>
		</div>

	</body>

	<footer>
	| <a href="utdhack.html">Tab 1</a> | <a href="info.html">Tab 2</a> |
	</footer>

</html>