<!DOCTYPE html>

<!-- change out titles once we figure it out -->

<html>
	<head> 

		<title>Website Title</title>

		<!-- stylesheet -->
		<link href="t1style.css" rel="stylesheet">

	</head>

	<body class="t2">

		<header>	
			<div class="navbar">
				<nav>
					<ul>
						<li><a href="try1.html" class="t1Link">Tab 1</a></li>
						<li><a href="try1_2.html" class="t2Link">Tab 2</a></li>
					</ul>
				</nav>
			</div>
		</header>
		
		<div class="intro">
			<h1>Insert Title/Intro to Financial Survey Here</h1>

		</div>

	</body>

</html>
