<!DOCTYPE html>

<html>

<head>	
	<title>Website Title</title>

	<!-- stylesheet -->
		<link href="../static/css/hackstyle.css" rel="stylesheet">

</head>

	<body class="tab2">

		<header>	
			<div class="navbar">
				<nav>
					<ul>
						<li><a href="utdhack.html" class="tab1Link">survey</a></li>
						<li><a href="info.html" class="tab2Link">stats</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="intro">
			<h1>My Statistics</h1>
		</div>

	</body>

	<footer>
	| <a href="utdhack.html">survey</a> | <a href="info.html">stats</a> |
	</footer>

</html>